* {
    background-color: rgba(40, 40, 40, 0);
    color: #ebdbb2;
    font-family: "Monospace", sans-serif;
    font-size: 14px;
}


#cpu {
    font-size: 15px;
    color: #B594EB; 
    background-color: #1A1A1A; 
    padding: 3px 8px; 
    margin-top: 5px;
    border-radius: 10px;
    margin-left: 5px;
}
#memory {
    font-size: 15px;
    color: #FFB3CC; 
    background-color: #1A1A1A; 
    padding: 3px 8px; 
    margin-top: 5px;
    border-radius: 10px;
}
#disk {
    font-size: 15px;
    color: #FFC28F; 
    background-color: #1A1A1A; 
    padding: 3px 8px; 
    margin-top: 5px;
    border-radius: 10px;
}
#temperature {
    font-size: 15px;
    color: #FF9999; 
    background-color: #1A1A1A; 
    padding: 3px 8px; 
    margin-top: 5px;
    border-radius: 10px;
}

#clock {
    color: rgb(216, 207, 192);
    background-color: #1A1A1A; 
    padding: 0px 15px; /* Отступы */
    border-radius: 0px 0px 10px 10px; /* Закругление углов */
}

/* BATTAREY */
.warning {
    font-size: 15px;
    color: #FF994D; 
    background-color: #1A1A1A; 
    padding: 3px 8px; 
    margin-top: 5px;
    
    border-radius: 10px;
}
.bad {
    font-size: 15px;
    color: #DB5A5A;
    background-color: #1A1A1A;
    padding: 3px 8px;
    margin-top: 5px;
    border-radius: 10px;
}
.normal {
    font-size: 15px;
    color: #6CA8D0; 
    background-color: #1A1A1A; 
    padding: 3px 8px; 
    margin-top: 5px;
    border-radius: 10px;
}
.charging {
    font-size: 15px;
    color: #F0C450;
    background-color: #1A1A1A; 
    padding: 3px 8px; 
    margin-top: 5px;
    border-radius: 10px; 
}

/* NETWORK */
.ethernet {
    font-size: 15px;
    color: #9FCF9F; 
    background-color: #1A1A1A; 
    padding: 3 8px; 
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
.wifi {
    font-size: 15px;
    color: #9FCF9F ; 
    background-color: #1A1A1A; 
    padding: 3 8px; 
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
.disconnected {
    font-size: 12px;
    color: #B3B3B3; 
    background-color: #1A1A1A; 
    padding: 3 8px; 
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

